<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">

    <div th:if="${oauth2token}">
        <p th:text="${oauth2token.getTokenValue()}"></p>
    </div>

</th:block>
</body>
</html>
